@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@300;900&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: hsl(234, 29%, 20%);
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Roboto", sans-serif;
  position: relative;
}

p {
  font-size: 16px;
  color: hsl(235, 18%, 26%);
}

h1 {
  font-weight: 700;
  color: hsl(235, 18%, 26%);
}

.start {
  position: absolute;
  background-color: #fff;
  border-radius: 11px;
  text-align: start;
  width: 65%;
}

.start h1 {
  font-weight: 700;
}

.success {
  background-color: #fff;
  display: none;
}

li {
  position: absolute;
  text-decoration: none;
  list-style: none;
  padding-left: 90px;
}

.li {
  position: relative;
  margin: 9%;
  font-size: 16px;
}

svg {
  position: relative;
  margin-left: 3px;
  margin-bottom: 9px;
}

label {
  font-weight: bold;
  font-size: 14px;
}

input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 45%;
  padding: 10px;
  font-size: 14px;
}

.norm-btn {
  position: relative;
  cursor: pointer;
  background-color: hsl(235, 18%, 26%);
  border: 2px solid hsl(235, 18%, 26%);
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 45%;
}

.norm-btn:hover {
  cursor: pointer;
  background-color: hsl(4, 100%, 67%);
  border: hsl(4, 100%, 67%);
}

.attribution {
  position: absolute;
  color: #fff;
  text-align: center;
  left: 35%;
  margin-top: -102px;
  font-size: 19px;
}

.attribution a {
  text-decoration: none;
  color: #f0f0f0;
  cursor: pointer;
}

.svg-desktop {
  position: absolute;
  float: left;
  margin-left: 55%;
  margin-top: -10%;
}

.svg-mobile {
  display: none;
}

.success {
  background-color: #fff;
  /* Add other styling properties as needed */
}
.success.visible {
  display: block;
  /* For debugging */
}

.success img {
  width: 50px;
  height: 50px;
  margin-bottom: 90px;
}

.success p {
  font-size: 20px;
    color: hsl(235, 18%, 26%);

}

.success  h1 {
  font-weight: 700%;
  color: hsl(235, 18%, 26%);
}


.attribution {
  position: absolute;
  color: #fff;
  text-align: center;
  left: 35%;
  margin-top: -102px;
  font-size: 19px;
}

.attribution a {
  text-decoration: none;
  color: #f0f0f0;
  cursor: pointer;
}


@media (min-width: 481px) {
  body {
    max-width: 90vw;
  }

  .start {
    padding: 80px 100px;
    margin: 13% 9%;
    left: 10%;
    height: 0;
    padding-bottom: 35%; /* Set the padding-bottom to the same value as the width to make it a square */
  }

  li {
    position: relative;
    padding-left: 30px;
    margin-top: -29px;
    font-size: 14px;
    margin-bottom: 12px;
  }

  .li {
    position: relative;
    padding-left: 120px;
  }
  img {
    width: 100%;
    margin-top: -6%;
  }

  .svg-desktop {
    position: relative;
    float: left;
    margin-left: 55%;
    margin-top: -57%;
  }

  .email {
    position: absolute;
    margin-top: 15px;
  }

  input {
    width: 44%;
    margin-top: 25px;
  }

  .norm-btn {
    width: 44%;
    margin-top: 15px;
  }

  .li {
    margin: -19%;
    padding-top: 21%;
    padding-bottom: 19%;
  }
}

@media (max-width: 922px) {
  body {
    max-width: 140vw;
    /* background-color: hsl(0, 0%, 100%); */
  }

  svg {
    position: relative;
    margin-left: -145px;
    margin-bottom: 10px;
  }

  li {
    position: relative;
    margin-left: -140px;
  }

  .start {
    padding: 100px;
    margin: 13% 19%;
    left: 3%;
    height: 0;
    padding-bottom: 50%;
    width: 60%;
  }

  /* list inside svg */
  .li {
    position: relative;
    margin-left: -20px;
  }

  .svg-desktop {
    display: none;
  }

  h1 {
    position: relative;
    margin-top: -45px;
  }

  input {
    width: 100%;
  }

  .norm-btn {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  body {
    background-color: #fff;
    margin-left: -54%;
    padding-right: -120%;
  }

  .svg-mobile {
    position: relative;
    display: block;
    margin-top: -36%;
    margin-bottom: 15%;
  }

  .start {
    padding: 80px 100px;
    text-align: start;
    width: 100%;
    margin-top: 0;
  }
  p {
    white-space: nowrap;
  }

  .li {
    margin-left: 30%;
    margin-right: -10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  li {
    position: relative;
    margin-left: -190px;
    margin-top: -11%;
    /* top: 10%; */
  }
}

/* Responsive Styles */
@media (min-width: 1200px) {
  /* MacBook Pro 16 inches */
  body {
    max-width: 90vw;
  }

  .start {
    padding: 80px 100px;
    margin: 13% 9%;
    left: 10%;
    height: 0;
    padding-bottom: 35%;
  }

  li {
    position: relative;
    padding-left: 30px;
    margin-top: -29px;
    font-size: 14px;
    margin-bottom: 12px;
  }

  .li {
    position: relative;
    padding-left: 120px;
  }

  .svg-desktop {
    position: relative;
    float: left;
    margin-left: 55%;
    margin-top: -47%;
  }

  @media (min-width: 481px) {
      .svg-desktop {
    position: relative;
    float: left;
    margin-left: 55%;
    margin-top: -57%;
  }
  }

  .email {
    position: absolute;
    margin-top: 15px;
  }

  input {
    width: 44%;
    margin-top: 25px;
  }

  .norm-btn {
    width: 44%;
    margin-top: -9px;
  }

  .li {
    margin: -19%;
    padding-top: 21%;
    padding-bottom: 19%;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  /* MacBook Pro 13 inches */
  body {
    max-width: 140vw;
  }

  .start {
    padding: 100px;
    margin: 13% 19%;
    left: 3%;
    height: 0;
    padding-bottom: 50%;
    width: 60%;
  }

  .li {
    position: relative;
    margin-left: -20px;
  }

  .svg-desktop {
    display: none;
  }

  h1 {
    position: relative;
    margin-top: -45px;
  }

  input {
    width: 100%;
  }

  .norm-btn {
    width: 100%;
  }
}

